*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
body{background: #F7F7F7;}


.center01{width: 100%;height: 108px;margin-top: 63px;}
.top{width: 990px;height: 108px;margin: 0 auto;f}
.top span{font-size: 16px;line-height: 60px;color: #000;display: inline-block;height: 60px;position: absolute;top: 70px;margin-left: 10px;}
.top img{display: inline-block;border-right: 1px solid #ccc;}
.top p{float: right;font-size: 12px;margin-top:27px;}
.top p a{text-decoration: underline;color: #db1f1f;}


.center03{width: 100%;height: 768px;}
.main{width: 990px;height: 768px;margin: 0 auto;}
.biaoti{width:990px;height: 60px;background: #fafafa;font-size: 16px;color: #99a2c0;line-height: 60px;
text-align: center;}
.zhuce{width: 370px;height: 548px;margin: 0 auto;margin: 0 auto;padding-top: 20px;padding-left: 30px;
border: 1px dashed #CECECE;border-radius: 10px;background: #fff;}
.zhuce h2{width: 350px;height: 40px;font-size: 23px;height: px;font-weight: normal;border-bottom: 2px solid #de3030;margin-bottom: 25px;width: px;}
.zhuce .txt{width: 290px;height: 40px;border: 0;border: 1px solid #ccc;margin-bottom: 10px;border-radius: 8px;outline: none;}
.zhuce .pas{width: 290px;height: 40px;border: 0;border: 1px solid #ccc;margin-bottom: 13px;border-radius: 8px;outline: none;}
.xiang01{width: 290px;height:40px;border: 0;border: 1px solid #ccc;margin-bottom: 13px;border-radius: 8px;outline: none;}



.btn{width: 300px;height: 40px;background: #de3030;display: block;color: #fff;border: #333333; font-size: 16px;line-height: 40px;text-align: center;border-radius: 5px;margin-left: 40px;}

.zhang{color: #ccc;font-size: 12px;padding-left: 50px;}

.mi{color: #ccc;font-size: 12px;padding-left: 50px;}

.xiang02{color: #ccc;font-size: 12px;padding-left: 50px;margin-bottom: 15px;}


.center03{width: 100%;border-top: 1px solid #ccc;}
.footer{width: 990px;height: 56px;margin-top: 20px;}
.footer ul{float: left;}
.footer img{float: right;}
.footer ul li{background: url(../img/shuxian.jpg) no-repeat left center;float: left;padding: 0 13px;font-size: 12px;}
.footer ul li:nth-child(1){background: 0;}
.footer a{color: #666666;}























